@charset "utf-8";
//@import "../node_modules/bulma/bulma.sass";
//@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import "../node_modules/bulma/sass/utilities/initial-variables.sass";
@import "../node_modules/bulma/sass/utilities/functions.sass";


.bg-img{
        background-image: url("../public/images/homepict.png");
        background-position: center center;
				height:100%;
				width: 100%;
        background-repeat:repeat;
        background-attachment:scroll;
        background-size:cover;
				resize: both;
        background-color: #282a36;
			}

@media only screen and (max-width: 1180px){
        .bg-img{
                background-image: url("../public/images/homepictcrop.png");
        }
}
// Set your brand colors
$rippedfromdrac: #383a59;
$background: #282a36;
$currentLine: #44475a;
$foreground: #f8f8f2;
$comment: #6272a4;
$cyan: #8be9fd;
$purple: #bd93f9;
$green: #50fa7b;
$pink: #ff79c6;
$orange: #ffb86c;
$red:#ff5555;
$yellow: #f1fa8c;

$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Georgia", sans-serif;
$white: $foreground;
$dark: $currentLine;

$grey-darker: $background;
$grey-light: $currentLine;
$info: $comment;
$primary: $purple;
$success: $green;
$link: $orange;
$warning: $rippedfromdrac;
$danger: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;


$total: 144;
$time: 4;
$height: 400;
$percent: .69444%;
$dotSize: .9;


// Update some of Bulma's component variables
$body-background-color: $background;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover,
a.navbar-item.is-active, .navbar-link:focus, .navbar-link:focus-within,
.navbar-link:hover, .navbar-link.is-active { background-color: $primary
        !important;
}

a:hover {
        color: $primary !important;
}
html body div#__next nav.navbar.has-background-grey-darker
div#navbarBasicExample.navbar-menu.has-background-grey-darker
div#navMenu.navbar-start
div.navbar-item.has-dropdown.is-hoverable.has-background-grey-darke,div.navbar-item:nth-child(4):hover{
        background-color: $comment !important;
}

strong {
        color: $white !important;
}

pre, code {
color: $white;
}

.token.number {
        height:auto !important;
        min-width:auto !important;
        display: contents !important;
        font-size:inherit !important;
}

.markdown > h2:nth-child(2) {display: none;
}

.markdown{
        kerning: auto;
        font-kerning: auto;
        font-family: Georgia, 'Times New Roman', Times, serif;
        p, ul, li{
                font-size: large;
        }
     li {
             padding:6px;
             margin-left:10px;
     }

        h1 {
                font-size: xx-large;
                color: $green;
                text-align: center;
                font-weight: bold;
                padding: 15px;
        }
        h2 {
                font-size: x-large;
                color: $primary;
                text-align: center;
                font-weight: bold;
                padding: 10px
        }

        h3 {
                font-size: large;
                color: $pink;
                text-align: center;
                font-weight: bold;
                padding:8px
        }
        pre, code {
                font-size:large
        }
        img {
                padding: 20px;
        }
}

// Import only what you need from Bulma
//
@import "../node_modules/bulma";
//@import "../node_modules/bulma/sass/utilities/_all.sass";
//@import "../node_modules/bulma/sass/base/_all.sass";
//@import "../node_modules/bulma/sass/elements/button.sass";
//@import "../node_modules/bulma/sass/elements/container.sass";
//@import "../node_modules/bulma/sass/elements/title.sass";
//@import "../node_modules/bulma/sass/form/_all.sass";
//@import "../node_modules/bulma/sass/components/navbar.sass";
//@import "../node_modules/bulma/sass/layout/hero.sass";
//@import "../node_modules/bulma/sass/layout/section.sass";			
